<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../statics/tienda.css">
    <title>Document</title>
</head>
<body>
    <h1>Cuidado con el Canino</h1>
    <button class="boton">Añadir</button>
    <section id="contenedor">
        <div id="playera1">
            <p>Playera azul $100</p>
            <button class="boton" id="pl1"></button>
        </div>
        <div id="playera2">
            <p>Playera blanca $100</p>
             <button class="boton" id="pl2"></button>
        </div>
        <div id="playera3">
            <p>Playera rosa $150</p>
            <button class="boton" id="pl3"></button>

        </div>
        <div id="pantalon1">
            <p>Pantalon azul $200</p>
            <button class="boton" id="ptn1"></button>

        </div>
        <div id="pantalon2">
            <p>Pantalon cafe $200</p>
            <button class="boton" id="ptn2"></button>

        </div>
        <div id="pantalon3">
            <p>Pantalon negro $300</p>
            <button class="boton" id="ptn3"></button>

        </div>
        <div id="sudadera1">
            <p>Sudadera roja$300</p>
            <button class="boton" id="sud1"></button>

        </div>
        <div id="sudadera2">
            <p>Sudadera negra $250</p>
            <button  class="boton" id="sud2"></button>

        </div>
        <div id="sudadera3">
            <p>Sudadera blanca $400</p>
            <button  class="boton" id="sud3"></button>

        </div>
    </section>
    <section id="carrito">  
        <p id="total"></p>  
    </section>
    <script src="../Dynamic/cuidadocc.js"></script>
</body>
</html>