<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../statics/tienda.css">
    <title>Document</title>
</head>
<body>
    <h1>Cuidado con el Canino</h1>
    <button class="boton">Añadir</button>
    <section id="contenedor">
        <div id="playera1" class="producto">
            <img src="../statics/Playera_azul.jpg" alt="Playera azul" width="100px">
            <button class="boton-chiquito">+</button>
        </div>
        <div id="playera2" class="producto"></div>
        <div id="playera3" class="producto"></div>
        <div id="pantalon1" class="producto"></div>
        <div id="pantalon2" class="producto"></div>
        <div id="pantalon3" class="producto"></div>
        <div id="sudadera1" class="producto"></div>
        <div id="sudadera2" class="producto"></div>
        <div id="sudadera3" class="producto"></div>
    </section>
    <br>
    <br>
    <section id="carrito">
        <div id="playera2" class="contenedor-botones"></div>
        <div id="playera3" class="nuevo"></div>
    </section>
</body>
</html>