<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section id="contenedor">
        <div id="playera1"></div>
        <div id="playera2"></div>
        <div id="playera3"></div>
        <div id="pantalon1"></div>
        <div id="pantalon2"></div>
        <div id="pantalon3"></div>
        <div id="sudadera1"></div>
        <div id="sudadera2"></div>
        <div id="sudadera3"></div>
    </section>
</body>
</html>